@model CarAPI_Web.Models.VM.CarDetailsDeleteVM

<form asp-action="DeleteCarDetails">
    <br />
    <div class="container border p-3">
        <h1 class="text-dark fw-bold">Delete Car Details</h1>
        <hr />
        <input hidden asp-for="CarDetails.CarDetailsId" />
        <div class="row">

            <div class="col-2">
                <label asp-for="CarDetails.CarDetailsId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="CarDetails.CarDetailsId" disabled class="form-control" />
            </div>

            <div class="col-2">
                <label asp-for="CarDetails.CarId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="CarDetails.CarId" disabled class="form-select" asp-items="@Model.CarList">
                    <option disabled selected>--Select Car--</option>
                </select>
            </div>
            <div class="col-2">
                <label asp-for="CarDetails.SpecialDetails" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="CarDetails.SpecialDetails" disabled class="form-control" rows="5"></textarea>
            </div>
            <div class="col-2">
                <label asp-for="CarDetails.AdditionalFeature" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="CarDetails.AdditionalFeature" disabled class="form-control" rows="5"></textarea>
            </div>
            <div class="col-5 offset-2">
                <a asp-action="IndexCarDetails" asp-controller="CarDetails" class="btn-outline-dark btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}